.vscode/launch.json
.vscode/settings.json
kneaddata.egg-info/PKG-INFO
kneaddata/__init__.pyc
kneaddata/config.pyc
.pyc
kneaddata/*.pyc
.*\.egg-info.*
*.out
*.swp*
*.fastq
*.fasta
*.bak
*.pyc
*.npy
*.csv
*.pdf
*.ipynb
*.xlsx
*.sam
*.html
*.emf
#*
*~
tags
env
Trimmomatic*